// region SbjSep
.sbj-sep,
.sbj-sep-shift {
  height: 60px;
  width: 23px;
  position: relative;
  right: 7px;
  border-right: 10px double #000;
  align-self: end;
}

.sbj-sep-shift::after {
  content: "S";
  height: 50px;
  width: 23px;
  font-size: 30px;
  color: #000;
  position: absolute;
  margin-top: 6px;
  margin-left: 8px;
}
// endregion

// region FillLifter

.fold-circle-lifter {
  content: url("/assets/fold-circle.svg");
  pointer-events: auto;
  position: absolute;
  bottom: 5px;
  right: 43px;
  width: 0px;
  height: 0px;
}

.unfold-circle-lifter {
  content: url("/assets/unfold-circle.svg");
  pointer-events: auto;
  position: absolute;
  bottom: 10px;
  right: 13px;
  width: 0px;
  height: 0px;
}

.fill-lifter,
.fill-lifter-unfold {
  width: 9px;
  min-height: 9px;
  // height: calc(100% - 20px);
  margin-bottom: 3px;
  margin-left: 6px;
  border-left: 5px solid #000;
  align-self: stretch;
  position: relative;
  pointer-events: none;
}

.fill-lifter::before,
.fill-lifter-unfold::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: -8.5px;
  bottom: -12px;
  border-left: 4px solid black;
  border-top: 4px solid black;
  transform: rotate(45deg);
}

.fill-lifter-fold {
  width: 12px;
  height: 0px;
  pointer-events: none;

  &::after {
    @extend .fold-circle-lifter;
  }
}

.fill-lifter-unfold::after {
  @extend .unfold-circle-lifter;
}
// endregion

// region WordFlag
.ff,
.pp,
.cc,
.uni,
.coo,
.COO,
.app,
.APP,
.un,
.uv {
  height: 10px;
  width: 25px;
  margin-top: -6px;
  margin-left: 8px;
  padding-bottom: 25px;
  position: relative;
  grid-row: 3;
  align-self: start;
  justify-self: center;
}

.ff::after {
  content: "□";
  font-size: 18px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode";
  position: absolute;
}

.pp::after {
  content: "∧";
  font-size: 18px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode";
  position: absolute;
}

.app::after,
.APP::after {
  content: "＝";
  font-size: 18px;
  margin-left: -2px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode";
  position: absolute;
}

.un::after {
  content: "△";
  font-size: 18px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode";
  position: absolute;
}

.uv::after {
  content: "▽";
  font-size: 18px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode";
  position: absolute;
}

.cc::after,
.uni::after,
.coo::after,
.COO::after {
  content: "•••";
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Arial";
  position: absolute;
}

.COO::after {
  margin-left: -2px;
}

.cc::after,
.uni::after,
.coo::after {
  margin-left: 0px;
}
// endregion WordFlag

// region ObjSep

.obj-sep,
.obj-sep-shift {
  height: 50px;
  width: 20px;
  position: relative;
  left: 9px;
  border-left: 3px solid #000;
  align-self: end;
}

.obj-sep-shift::after {
  content: "S";
  height: 50px;
  width: 23px;
  font-size: 30px;
  color: #000;
  position: absolute;
  left: -11px;
  top: -3px;
}
// endregion ObjSep

// region FillDash
.fill-dash {
  // height: 100%;
  width: 5px;
  align-self: end;
  background: linear-gradient(to top, black, black 8px, transparent 8px, transparent);
  background-size: 5px 10px;
  /*8px black then 2px transparent -> repeat this!*/
}
// endregion FillDash
